.logo {
    width: 200px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu {
    background-color: var(--cor-branco-00);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}

.ct-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ct-menu-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.ct-menu-lista li a {
    padding: 8px 12px;
    transition: 0.3s ease;
    line-height: 1.3;
}

.ct-menu-lista li a:hover{
    color: var(--cor-roxo-500);
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu{
    display: none;
}

@media (max-width: 1400px) {
    .ct-menu-lista li a {
        font-size: 0.875rem;
    }
    .botao-roxo {
        font-size: 0.875rem;
    }
}

@media (max-width: 1000px) {
    .botao-roxo {
        font-size: 0.75rem;
    }
    .ct-menu-lista {
        gap: 8px;
    }
    .ct-menu-lista li a{
        font-size: 0.75rem;
    }
}

@media (max-width: 900px) {
    .ct-menu-lista {
        display: none;
    }
    .ct-menu .botao-roxo {
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    } 
    .mobile-menu-icon button img {
        width: 36px;
    }
    .mobile-menu {
        background: var(--cor-branco-00);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 16px;
    }
    .ct-mobile-lista {
        padding: 20px 36px; 
    }
    .ct-mobile-lista li a {
        display: block;
        padding: 12px 160px;
    }    
    .ct-mobile-lista li {
        border-bottom: 1px solid var(--cor-cinza-200);
    }
    .ct-mobile-lista li:first-child {
        border-top: 1px solid var(--cor-cinza-200);
    }
    .mobile-menu .botao-roxo {
        padding: 12px 64px;
    }
}