.container {
    max-width: 1600px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
}

.botao-roxo {
    display: block;
    background: linear-gradient(var(--cor-roxo-500), var(--cor-roxo-600));
    color: var(--cor-branco-02);
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    text-transform: uppercase;
}

.botao-verde {
    display: block;
    background: var( --cor-verde-500);
    color: var(--cor-branco-02);
    font-size: 1.125rem;
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.botao-roxo:hover {
    background: transparent;
    color: var(--cor-cinza-950);
    outline: 2px solid var(--cor-cinza-950);
}

.botao-verde:hover {
    background-color: var(--cor-verde-600);
}

@media (max-width: 1400px) {
    .container {
        max-width: 1100px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .botao-roxo {
        font-size: 0.75rem;
        padding: 8px 16px;
    }
}

@media (max-width: 500px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
