:root {
    --cor-branco-00: #ffffff;
    --cor-branco-01: #F7F8F8;
    --cor-branco-02: #f2f3f4;
    --cor-branco-03: #FAFDFF;
    

    --cor-roxo-400: #BAA2D0;
    --cor-roxo-500: #9B7CB9;
    --cor-roxo-600: #755690;

    --cor-cinza-50: #f0f1f2;
    --cor-cinza-100: #F2F3F4;
    --cor-cinza-200: #D9DBDE;
    --cor-cinza-250: #E9EAEB;
    --cor-cinza-300: #B7BEC2;
    --cor-cinza-400: #8F99A1;
    --cor-cinza-500: #727D85;
    --cor-cinza-600: #5C656D;
    --cor-cinza-700: #4B5359;
    --cor-cinza-800: #40474C;  
    --cor-cinza-900: #393D41;  
    --cor-cinza-950: #26282B;

    --cor-verde-50: #F2F9F9;
    --cor-verde-100: #D8EFE7;
    --cor-verde-200: #B1DECE;
    --cor-verde-300: #7AC2AC;
    --cor-verde-400: #58A993;
    --cor-verde-500: #3E8E79;
    --cor-verde-600: #307161;
    --cor-verde-700: #2A5B50;

}

.cor-branco-00 {
    color: var(--cor-branco-00);
}

.cor-branco-01 {
    color: var(--cor-branco-01);
}

.cor-branco-02 {
    color: var(--cor-branco-02);
}

.cor-roxo-500 {
    color: var(--cor-roxo-500);
}

.cor-roxo-600 {
    color: var(--cor-roxo-02);
}